PROJECT_NAME=Dentistry API
SECRET_KEY=change-me-to-a-random-secret
DATABASE_URL=postgresql+psycopg://postgres:dentistry_pg_2026@localhost:5495/dentistry
FRONTEND_URL=http://localhost:3180
FRONTEND_URLS=http://localhost:3180,http://localhost:3181
BACKEND_PUBLIC_URL=http://localhost:8870
FIRST_SUPERUSER_USERNAME=admin
FIRST_SUPERUSER_PASSWORD=admin12345
ACCESS_TOKEN_EXPIRE_MINUTES=1440
